/* client/src/index.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Hace que cuando des clic en un enlace interno, la página baje suavemente */
  scroll-behavior: smooth; 
}

/* El body solo define base, NO layout */
body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  /* Suaviza los bordes de las letras en pantallas modernas */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}